#body{
    background-color: darkred;
}
#header{
    color: darkgoldenrod;
}
#spanOne {
    color: white;
    font-size: 120%;
}
#spanTwo {
    color: white;
    font-size: 120%;
}
#spanThree {
    color: white;
    font-size: 120%;
}
#dash{
    color: white;
    font-size: 120%;
}
#and{
    color: white;
    font-size: 120%;
}
#p1{
    color: darkgoldenrod;
    font-size: 120%;
}
#p2{
    color: darkgoldenrod;
    font-size: 120%;
}
#p3{
    color: darkgoldenrod;
    font-size: 120%;
}
#divOne{
    width: 98%;
    height: 300%;
    background-color: darkgray;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#divTwo{
    width: 98%;
    height: 300%;
    background-color: darkgray;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#divThree{
    width: 98%;
    height: 100%;
    background-color: darkgray;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}