
#wrapper{
    background-color: pink;
    width: 1300px;
    height: 600px;
    border-radius: 10px;
    margin: 20px 20px;
}

#header{
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
}

#section-one{
    font-size: 20px;
    padding-left: 45px;
    position: absolute;
    width: 230px;
    height: 430px;
}

#article-two{
    font-size: 20px;
    margin-left: 300px;
    width: 360px;
    height: 430px;
    position: absolute;
    margin-bottom: 500px;
}

#article-three{
    height: 430px;
    width: 600px;
    font-size: 20px;
    position: absolute;
    margin-left: 670px;
    margin-bottom: 20px;
}

#video{
    margin-bottom: 20px;
    position: absolute;
}

#first-audio{
    width: 325px;
    height: 200px;
    background-color: black;
    margin-right: 40px;
    padding-left: 3px;
}

#nested-audio-one{
    padding-left: 10px;
    padding-top: 60px;
}

.all-audio{
    padding-left: 15px;
    padding-top: 10px;
}