body{
    background: url(images/TediHula.png), url(images/PetiaHula.png), url(images/VladoGHula.png),
    url(images/AlexHula.png), url("images/NakovHula.png") , url(images/VladoKHula.png),
    url("images/HawaiiBackground.png");
    background-position: 31% 94%, 27% 80%, 15% 90%, 53% 94%, 46% 90%, 68% 90%;
    background-repeat: no-repeat;
    height: 600px;
}

#header{
    padding-left: 650px;
    padding-top: 10px;
    font-family: "Berlin Sans FB";
    color: orange;
    font-size: 35px;
}